nav{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(103, 45, 211);
    color: white;
    height: 11vh;
  }

  .nav-links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  .nav-link{
    font-size: large;
    color: #eae7e4;
    text-decoration: none;
  }

  .nav-link:hover{
    color: #ef6629;
    text-decoration: none;
  }